@import './bootstrap/bootstrap-3.3.2.min.css'
@import './bootstrap/bootstrap-datepicker-1.3.1.min.css'

body {
    margin: 0;
    padding: 0;
    background: #c3bdb3;
    color: #334;
    font-family: sans-serif;
}

h1 {
    display: block;
    text-align: center;
    font-size: 10vh;
}

.form-inline .form-group {
    margin-bottom: 5px;
}

.form-group > * {
    margin: 0px 7px;
}