@import './bootstrap/bootstrap-3.3.2.min.css'
@import './bootstrap/bootstrap-datepicker-1.3.1.min.css'

body {
    margin: 0;
    padding: 0;
    padding-top:65px;
    background-color: rgb(249, 249, 249);
    color: #334;
    font-family: 'Raleway',sans-serif;
}

.navbar .container {
    background-color: rgb(242,242,244);
}

h1 {
    display: block;
    text-align: center;
    font-size: 10vh;
}

.container {
    width: 100%;
}

.form-inline .form-group {
    margin-bottom: 5px;
}

.form-group > * {
    margin: 0px 7px;
}