doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Exercise Logger
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Raleway',rel='stylesheet',type='text/css')
        link(rel="stylesheet",href="#{locals['dist/main.css'].substr(5)}")
    body
        nav.navbar.navbar-fixed-top.part
            .container
                .navbar-header
                    a.navbar-brand(href="#") Exercise Logger
        .container
            .row
                .col-sm-6
                    .panel.panel-default
                        .panel-body
                            form#workout.form-inline
                                .form-group
                                    label(for='when') When was the workout?
                                    input.form-control(id='when',disabled)
                                    #when-picker
                                .form-group
                                    label(for='what') What was the workout?
                                    .btn-group(data-toggle="buttons")
                                        label.btn.btn-default
                                            input(type="radio",name="what",id="what1",value="Moderate",autocomplete="off")
                                            |Moderate
                                        label.btn.btn-default
                                            input(type="radio",name="what",id="what2",value="Vigorous",autocomplete="off")
                                            |Vigorous
                                        label.btn.btn-default
                                            input(type="radio",name="what",id="what3",value="Strengthening",autocomplete="off")
                                            |Strengthening
                                .form-group
                                    label(for='length') How many minutes?
                                    input.form-control(id='length',type='text',value='',placeholder='Number of minutes')
                                hr
                                .pull-right
                                    button.btn.btn-default(type='submit',id='subBtn',disabled) Submit

                .col-sm-6
                    .panel.panel-default
                        #right-panel.panel-body
        script(src="#{locals['dist/main.js'].substr(5)}")